* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   /* display: flex; */
   /* flex-direction: column; */
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #000;
   color: #333;
   /* color: rgb(147, 198, 240); */
}

#xdate {
   font-size: 4rem;
}

#time {
   font-size: 15rem;
}

/* greeting, name and period */
h1 {
   padding-bottom: 1.5rem;
}

#period {
   margin-left: -8px;
}

#temperature,
#heat-index,
#summary {
   font-size: 1.8rem;
}

#ampm {
   font-size: 2rem;
   opacity: 0.6;
   margin-left: -0.5rem;
}

#message {
   margin-bottom: 1rem;
}

#moonphase {
   margin-top: 0.75rem;
}

h2 {
   opacity: 0.6;
}
